<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-scss.css?55545d5e2e583116e03a" rel="stylesheet"><link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-less.css?55545d5e2e583116e03a" rel="stylesheet"></head>

<body>
    <div id="root" class="root"></div>
<script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bootstrap.64f8de5c50b5dff7c6a2.bundle.js?55545d5e2e583116e03a"></script><script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/vendor.83fcfa5b817c71b34a27.bundle.js?55545d5e2e583116e03a"></script><script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bundle.112bbd0d03ca20d07c46.bundle.js?55545d5e2e583116e03a"></script></body>

</html>