<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="google-site-verification" content="wzPowqz7EwTFHtH0dqQxfHQLzGbJQYWGKGQZaBPKpKE" />
<link href="/build/scripts/../stylesheets/bundle-scss.css?7d6067a8b821e6008ad5" rel="stylesheet"><link href="/build/scripts/../stylesheets/bundle-less.css?7d6067a8b821e6008ad5" rel="stylesheet"></head>

<body>
    {% block body %}{% endblock %}
    <div id="root" class="root"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr6MNUWILJ14oOkpOH6LMlEz-cMW3aJ60&libraries=places">

    </script>
<script type="text/javascript" src="/build/scripts/bootstrap.47a49c0617f844591b15.bundle.js?7d6067a8b821e6008ad5"></script><script type="text/javascript" src="/build/scripts/vendor.d15721a2509679a05e87.bundle.js?7d6067a8b821e6008ad5"></script><script type="text/javascript" src="/build/scripts/bundle.b4bc204b2a48b30daead.bundle.js?7d6067a8b821e6008ad5"></script></body>

</html>